fieldset{
    width: 30%;
    background-color: greenyellow;

}
form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;
}
legend{
    background-color: red;
    color: white;
    padding: 5px;
    font-size: 1.5em;
}
input[type=submit]:hover{
    background-color: red;
    font-color: green;
}
input[type=submit]{
    background-color: darkred;
    border-radius: 3px;
    color: white;
    padding: 5px;
    font-size: 1.5em;
    margin-left: 30%;
}
.radio{
    color: darkolivegreen;
    padding: 5px;
    font-size: 1.3em;
}
